.logo1 {
    font-family:Brush Script MT, Brush Script Std, cursive;
    font-size:40px;
    color:crimson;
    margin-top:7px ;
    margin-left:25px ;
}

.logo2 {
    width: 100px;
    height: 100px;
    margin-top:10px;
    margin-left: 15px;
}

.n1 li { position:static;
    display:inline-block;
    margin-left: 350px;
    font-family: cursive;
    font-size:30px;
    color:black;
}
.n1 {
    background-color:lightseagreen;
}
.main {
    min-height:66vh;

}
.h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    color: red;
    text-align: center;
    padding-right:400px;
    margin-top: 90px;
}



.p1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    font-weight: 900;
    border: 1px solid black;
    width: 300px;
    height: 100px;
    padding: 50px;
    color: black;
    text-align: center;
    margin-left: 550px;
}

.img1 {
    height: 200px;
    width: 200px;
    float: left;
    padding-left: 250px;
    padding-top: 40px;
}

.s2 {
    text-align: center;
}

.d1{ margin-right:60px;}

.footer li{
    display: inline-block;
    margin-left: 100px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: small;
 position: static;
  left:100px ;
  
}

.footer{background-color: grey;text-align: center;}
